<!DOCTYPE html>
<html>
<head>
	<title>Add Movie</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

	<style type="text/css">

		#background_movie{
			padding: 30px;
  			background-color:#e8e8e8;
  			background-origin: content-box;
		}

	</style>	
</head>
<body id="background_movie">
 
<h1>Add Movie Details</h1>

{% if movieResult %}
{% for movie in movieResult %}
  <form>
    <div class="form-row align-items-center">
      <div class="col-sm-3 my-1">
        <label  for="inlineFormInputName">Name</label>
          <input type="text" name="movieNameQuery" class="form-control" id="inlineFormInputName" placeholder="ex: Transformers" value="{{movie.mov_title}}">
      </div>
      <div class="col-sm-3 my-1">
        <label for="inlineFormInputGroupUsername">Movie ID</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" name="movieIDQuery" class="form-control" id="inlineFormInputID" placeholder="ex: transformers_2012" value="{{movie.mov_id}}">
        </div>
      </div>

    </div>
  </form>

    <div class="form-row">

    	<div class="form-group col-md-3">
        <label for="inputMovieLanguage">Language</label>
          <input type="text" name="movieLangQuery" class="form-control" id="movieLangQuery" value="{{movie.mov_lang}}">
      </div>

  	<div class="form-group col-md-3">
        <label for="inputMovieYear">Year Released</label>
           <input type="text" name="movieYearQuery" class="form-control" id="movieYearQuery" value="{{movie.mov_year}}">
      </div>
<!-- 
      <div class="col-sm-2 my-1">
        <label for="inlineFormInputGroupUsername">Director ID</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="ex: cameron123">
        </div>
      </div> -->

    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputMovieDesc">Movie Description</label>
        <textarea class="form-control" name="movieDescriptionQuery" id="inputMovieDesc" rows="4">{{movie.description}}</textarea>
      </div>
    </div>

    <div class="form-row"> 
      <div class="form-group col-md-6"> 
        <label for="inputMovieURL">Movie Poster URL</label>
          <input type="text" name="moviePosterURL" class="form-control" id="moviePosterURL" value="{{movie.movie_picurl}}">
      </div>
    </div>

    </div>
    {% endfor %}
   {% endif %}
  <button type="submit" class="btn btn-primary">Save Movie</button>
</form>

</body>
</html>