<!DOCTYPE html>
<html>
<head>
	<title>All Directors</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

	<style type="text/css">
    .col-sm-2{
      margin: 10px;
    }
	</style>
</head>
<body>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/static/js/bootstrap.js"></script>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/movie">
    <img src="http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/512/Movie-Studio-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="/movie/allActors">Actors<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/movie/allMovies">Movies<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/movie/allDirectors">Directors<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage database
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="add_actor.html">Actors</a>
          <a class="dropdown-item" href="add_movie.html">Movies</a>
          <a class="dropdown-item" href="add_director.html">Directors</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://127.0.0.1:8000/admin/">Admin page</a>
        </div>
      </li>

    <li class="nav-item">
        <a class="nav-link" href="https://github.com/deepakHonakeri05/Movie-Database">Project Link<span class="sr-only"></span></a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="ex: Dhoom" aria-label="Search">
      <button class="btn btn-success" type="submit" formaction="directorDetails/0">Search</button>
    </form>
  </div>
</nav>

<h1>All Directors</h1>

  {% if all_directors %}
    {% for director in all_directors %}
    {% if forloop.first %}<div class="row">{% endif %}

    <div class="col-sm-2 ">

        <a href="directorDetails/{{ director.dir_id }}/">
          <img src="https://cdn.shopify.com/s/files/1/1064/3660/products/1500x1875-flat-stellavie-rentzsch-movie-director-portrait-prints-martin-scorsese_2480x1640.jpg?v=1540309468" width="250px" height="400px"> <br> {{ director.dir_name }}</a>
    </div>
    {% endfor %}
{% else %}
    <p>No Directors are available.</p>
{% endif %}

</body>
</html>