<!DOCTYPE html>
<html>
<head>
  <title>Edit a Actor</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

  <style type="text/css">
  #background  {
  padding: 30px;
  background-color:#e8e8e8;
  background-origin: content-box;
  }
  </style>

  <script type="text/javascript">

  function newTextBox(element){
   if(!element.value){
       element.parentNode.removeChild( element.nextElementSibling);
       return;
   }
   else if(element.nextElementSibling)
       return;
    var newTxt = element.cloneNode();
    newTxt.id = 'txt_'+( parseInt( element.id.substring(element.id.indexOf('_')+1)) + 1);
    newTxt.value='';
    element.parentNode.appendChild(newTxt);
  }  

</script>

<body id="background">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<form>

  <h1>Edit Actor Details</h1>

  <form>

  {% if actorList %}
   {% for actor in actorList %}


      <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
          <label  for="inlineFormInputName">Name</label>
          <input type="text" class="form-control" id="inlineFormInputName" name="actorNameQuery" placeholder="ex: Jane Doe" value="{{actor.act_name}}">
        </div>

        <div class="col-sm-3 my-1">
          <label for="inlineFormInputGroupUsername">ID</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" name="actorIDQuery" placeholder="ex: janedoe_123" readonly="readonly" value="{{actor.act_id}}">
          </div>
        </div>
      </div>
 

      <div class="form-group">
        <label for="inputAddress">Gender : </label><br>
          <input type="text" name="actorGenderQuery" value="{{actor.act_gender}}">
      </div>

     <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputBiography">Biography</label>
        <textarea class="form-control" name="actorBiographyQuery" id="inputBiography" rows="4">{{actor.act_bio}}</textarea>
      </div>
    </div>

 <div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputAddress2">Actor pic URL</label>
    <input type="text" class="form-control" name="actorPicURLQuery" id="inputAddress2" value={{actor.act_picURL}}>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-3">
    <label>Movie Played</label><br>
    {% if actorCast %}
      {% for cast in actorCast %}
         <input type="text" class="form-control" name="actorMoviePlayed" value="{{ cast.mov_id }}"  onkeydown="newTextBox(this)">
      {% endfor %}
    {% else %}
         <input type="text" class="form-control" name="actorMoviePlayed" onkeydown="newTextBox(this)">
    {% endif %}
  </div>

  <div class="form-group col-md-3">
    <label>Role Played</label><br>
    {% if actorCast %}
      {% for cast in actorCast %}
        <input type="text" class="form-control" name="actorMovieRole" value="{{ cast.role }}" onkeydown="newTextBox(this)">
      {% endfor %}
    {% else %}
    	<input type="text" class="form-control" name="actorMovieRole" onkeydown="newTextBox(this)">
    {% endif %}
  </div>
</div>

</div>

<div class="form-row">
	<div class="form-group col-md-3">
    	<label  for="inlineFormInputName">Awards Won</label>
    	{% if actorAwardsList %}
      		{% for awardWon in actorAwardsList %}	
    			<input type="text" class="form-control" id="inlineFormInputName" name="actorAwardWon" value="{{ awardWon.awards }}" onkeydown="newTextBox(this)">
    		{% endfor %}
    	{% else %}
    			<input type="text" class="form-control" id="inlineFormInputName" name="actorAwardWon" onkeydown="newTextBox(this)">
    	{% endif %}
    </div>
</div>

  <button type="submit" class="btn btn-primary">Save Actor</button>

 {% endfor %}
 {% endif %}
  </form>
</form>
</body>
</html>