<!DOCTYPE html>
<html>
<head>
	<title>Manage Directors</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>

<style type="text/css">
  #addNewBtn{
    position: absolute;
    top: 10px;
    right: 22px;
    font-size: 18px;
  }
</style>

<body>

<h1>Manage Directors</h1>

  {% if directorList %}
    {% for director in directorList %}
    <!-- {% if forloop.first %}<div class="row">{% endif %} -->

    <!-- <div class="col-sm-2 "> -->
    <ul>
    	<li>
        <a href="/movie/editDirector/{{ director.dir_id }}/">
         <!--  <img src= {{director.dir_picURL}} width="240px" height="350px"> <br> --> {{ director.dir_name }}</a>
     	</li>
     </ul>
    <!-- </div> -->
    {% endfor %}
{% else %}
    <p>No Directors are available.</p>
{% endif %}
<form>
    <button id="addNewBtn" type="submit" formaction="/movie/addDirector/" class="btn btn-success"> Add new </button>
</form>

</body>
</html>