<!DOCTYPE html>
<html>
<head>
	<title>Manage Directors</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>

<style type="text/css">
  #addNewBtn{
    position: absolute;
    top: 10px;
    right: 22px;
    font-size: 18px;
  }
</style>

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/static/js/bootstrap.js"></script>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/movie">
    <img src="http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/512/Movie-Studio-icon.png" width="30" height="30" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="/movie/allActors">Actors<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/movie/allMovies">Movies<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/movie/allDirectors">Directors<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage database
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/movie/manageActors">Actors</a>
          <a class="dropdown-item" href="/movie/manageMovies">Movies</a>
          <a class="dropdown-item" href="/movie/manageDirectors">Directors</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://127.0.0.1:8000/admin/">Admin page</a>
        </div>
      </li>

    <li class="nav-item">
          <a class="nav-link" href="https://github.com/deepakHonakeri05/Movie-Database">Project Link<span class="sr-only"></span></a>
      </li>

    </ul>
    </div>
  </nav>
<h1>Manage Directors</h1>

  {% if directorList %}
    {% for director in directorList %}
    <!-- {% if forloop.first %}<div class="row">{% endif %} -->

    <!-- <div class="col-sm-2 "> -->
    <ul>
    	<li>
        <a href="/movie/editDirector/{{ director.dir_id }}/">
         <!--  <img src= {{director.dir_picURL}} width="240px" height="350px"> <br> --> {{ director.dir_name }}</a>
     	</li>
     </ul>
    <!-- </div> -->
    {% endfor %}
{% else %}
    <p>No Directors are available.</p>
{% endif %}
<form>
    <button id="addNewBtn" type="submit" formaction="/movie/addDirector/" class="btn btn-success"> Add new </button>
</form>

</body>
</html>