<!DOCTYPE html>
<html>
<head>
	<title>Movie Results</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

	<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);

	.movieResults{
  	  padding: 30px;
	}

	.form-row{
		padding: 30px;
  		background-color:#e8e8e8;
  		background-origin: content-box;
		position: relative;
	}

	.movieRating{
	position: absolute;
  	top: 10px;
  	right: 22px;
  	font-size: 18px;
	}

	</style>

	<script type="text/javascript" href="rating.js">
		// Rating Initialization
		$(document).ready(function() {
		  $('#rateMe3').mdbRate();
		});
	</script>

</head>
<body>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/static/js/bootstrap.js"></script>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/movie">
    <img src="http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/512/Movie-Studio-icon.png" width="30" height="30" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="/movie/allActors">Actors<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/movie/allMovies">Movies<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/movie/allDirectors">Directors<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage database
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Movies</a>
          <a class="dropdown-item" href="#">Actors</a>
          <a class="dropdown-item" href="#">Directors</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://127.0.0.1:8000/admin/">Admin page</a>
        </div>
      </li>

		<li class="nav-item">
        	<a class="nav-link" href="https://github.com/deepakHonakeri05/Movie-Database">Project Link<span class="sr-only"></span></a>
      </li>

    </ul>

<!--     	<form class="form-inline my-2 my-lg-0">
      		<input class="form-control mr-sm-2" type="search" placeholder="ex: Dhoom" aria-label="Search">
     		 <button class="btn btn-success" type="submit">Search</button>
    	</form> -->
    </div>
  </nav>



  <div class="form-row ">
  	<div class ="movieNameRatingContainer">
      {% if movie %}
         {% for movies in movie %}
	        <H2> {{ movies.mov_title }}</H2>
	        <h3>{{ movies.mov_year }}</h3>
         {% endfor %}
      {% endif %}

	    <div class="movieRating">
<!--       {% if avgRating %}
         for {% for rating in avgRating %}  --> 
		      <h6>Average Rating : {{ avgRating }} </h6>
<!--         {% endfor %}
      {% endif %} -->
		    <button class="btn btn-warning" type="submit">Rate</button>
	    </div>
	   </div>
  </div>

  <div class="movieResults">
  	<div class="movieDescription">
	  	
      {% if movie %}
         {% for movies in movie %}
          <img src={{movies.movie_picurl}} width="250px" height="400px"><br>
          <h3>Description</h3>
	  	      <p>{{ movies.description }}</p>
        {% endfor %}
      {% endif %}
  	</div>

  	<div class="movieDirectors">
  		<h3>Directors</h3>

  		{% if directorInfo %}
      <ul>
        {% for director in directorInfo %}
          <li>{{ director.dir_name }}  {{ director.dir_phone }} </li>
      {% endfor %}
      </ul>
      {% else %}
          <p>No directors are available.</p>
      {% endif %}

  		</ul>
  	</div>

  	<div class="movieCast">
  		<h3>Movie Cast and Roles</h3>
  		<ul>
  			<li>C - ......</li>
  			<li>D - ......</li>
  			<li>E - ......</li>
<!--   			{% for question in latest_question_list %}
         		<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    		{% endfor %} -->
  		</ul>
  	</div>

  </div>

</body>
</html>